@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    background: #7159c1;

}

.container {
    display: grid;

    grid-template-columns: 3fr 1fr ;
    grid-template-rows: 20vh 70vh 10vh;

    grid-template-areas:  "h h"
                          "m a"
                          "f f";

    /* 
    
    Posso também usar essa propriedade CSS para dar espaçamento entre os elementos
    
        grid-gap: 20px;

    */

    /*
    
    Podendo usar também a propriedade 
    
    grid-template-areas: "header header"
                         "main main"
                         "footer footer"

                         (nessa parte você pode usar apenas a inicial de cada nome... EX: "h h").

    logo após, adicionar no alemtento HTML com a propriedade: 

    grid-area: h; 

    */


}


header {
    background: yellow;

    grid-area: h;

    /*
    Podendo usar também a propriedade 
    
    grid-column: 1/3;
    grid-rows: 1/3; 

    para dizer onde o elemento começa e termina, seja em coluna ou linha.

    */


}

main {
    background: rgb(0, 4, 255);

    grid-area: m;
}

aside {
    background: rgb(0, 255, 0);

   grid-area: a;
}

footer { 
    background: red;

   
   grid-area:f;
}







